<div class="relative">
  @if (search()) {
    <ng-icon class="text-lg absolute left-2 top-1/2 -translate-y-1/2" name="heroMagnifyingGlass"/>
  }
  @if (label()) {
    <label [for]="inputId()" class="block mb-2 text-sm font-medium text-zinc-300">{{ label() }}</label>
  }
  <input [(ngModel)]="value"
         (ngModelChange)="updateChanges()"
         [type]="inputType()"
         [id]="inputId()"
         [placeholder]="placeholder() || ''"
         [class.pl-8]="search()"
         autocomplete="off"
         class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white"
  />
</div>