<div class="flex items-center justify-between px-6 h-16 pt-2.5">
  <h3 class="text-2xl">
    Remcon 2025
  </h3>

  <div class="bg-gray-100 px-2 py-1.5 rounded-xl flex">
    <span class="w-24 text-center rounded-lg py-1 text-sm text-gray-700 bg-white shadow font-medium">
      Piątek
    </span>

    <span class="w-24 text-center rounded-lg py-1 text-sm text-gray-700">
      Sobota
    </span>

    <span class="w-24 text-center rounded-lg py-1 text-sm text-gray-700">
      Niedziela
    </span>
  </div>

  <div class="flex justify-center items-center gap-x-3 text-lg">
    <app-button-icon icon="heroArrowUpTray"/>
    <app-button-icon icon="heroArrowDownTray"/>
    <app-button-icon icon="heroShare"/>
  </div>
</div>