<aside class="bg-zinc-900 relative w-full bg- h-full rounded-xl text-gray-100 p-5 flex flex-col gap-y-6">
  <form [formGroup]="form" class="relative">
    <ng-icon class="text-lg absolute left-2 top-1/2 -translate-y-1/2" name="heroMagnifyingGlass"/>
    <input formControlName="search" placeholder="Szukaj..." class="text-sm rounded-xl ps-8 focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white"/>
  </form>

  <app-scheduler-sidebar-blocks-list [blocksType]="EventBlockType.LECTURE"/>
  <app-scheduler-sidebar-blocks-list [blocksType]="EventBlockType.PANEL"/>
  <app-scheduler-sidebar-blocks-list [blocksType]="EventBlockType.COMPETITION"/>
  <app-scheduler-sidebar-blocks-list [blocksType]="EventBlockType.CONCERT"/>
  <app-scheduler-sidebar-blocks-list [blocksType]="EventBlockType.MOVIE"/>
  <app-scheduler-sidebar-blocks-list [blocksType]="EventBlockType.TECHNICAL"/>
  <app-scheduler-sidebar-blocks-list [blocksType]="EventBlockType.OTHER"/>

  <div class="absolute w-full left-0 bottom-0 p-5 rounded-xl bg-gray-900">
    <app-button (click)="openAddModal()" [btnType]="'button'" class="w-full">
      Dodaj nowy blok
    </app-button>
  </div>
</aside>